.sidebar {
    width: 200px;
    height: 100%;
    color: var(--second-font-color);
    border-right: var(--main-bg-logout-color) 1px solid;
    box-sizing: border-box;
}

.sidebar .sidebar__folder,
.sidebar .sidebar__list .sidebar__list_item {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebar .sidebar__list .sidebar__list_item {
    padding-left: 24px;
}
.sidebar .sidebar__list .sidebar__list_item.active {
    background-color: var(--main-bg-logout-color);
}
